aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
bitstruct==8.23.0
cffi==2.1.1
cryptography==50.0.1
frozenlist==1.8.0
idna==3.19
multidict==6.8.0
propcache==0.5.2
pycparser==3.0
python-otbr-api==2.10.0
typing_extensions==4.16.0
voluptuous==0.16.0
yarl==1.24.5
